* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#41e731 10%, #2da822 40%);
    overflow: hidden;
}

.morador {
    position: absolute;
    width: 40px;
}

.carro_amarelo {
    position: absolute;
    width: 100px;
    transform: translateY(-90%);
    left: -22%;
}

.bairro  {
    position:absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.b1 {
    position: relative;
    transform: rotate(180deg);
    width: 100%;
    height: 50%;
    box-shadow:
    inset 0 1.5px #838383,
    inset 0 5px #e1f100,
    inset 0 40px #838383;
}


.b2 {
    position: relative;
    width: 100%;
    height: 50%;
    box-shadow:
    inset 0 1.5px #838383,
    inset 0 5px #e1f100,
    inset 0 40px #838383;
}

.casa {
    position: static;
    margin-top: 40vh;
    box-shadow: 0px -50px 1px -10px rgb(175, 93, 17);
    transform: translateY(-100%);
    width: 300px;
    height: 150px;
    background-color: #663106;
    border: solid 5px #000000;
}
.cerca {
    position: absolute;
    height: 75px;
    width: 75px;
}

.c1 {
    left: 22.3%;
    top: 20%;
}

.c2 {
    top: 20%;
}

.c3 {
    left: 72.3%;
    top: 20%;

}

.arbusto {
    position: relative;
    margin-top: -20px;
    height: 100%;
    transform: rotate(90deg);
    object-position: 5px 0;
}

.quarto {
    position: static;
    width: 50%;
    height: 60%;
    border-bottom: solid 5px #000000;
    border-right: solid 5px #000000;
}

.cama {
    position: absolute;
    width: 60px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    box-shadow: inset 0 -2px 4px 0 #252525,
    inset 4px 0 1px 0 #a35003,
    inset 20px 0 0 -3px #7c7c7c;
    background: #d4d4d4;
}

.mesa {
    position: absolute;
    top: 35px;
    width: 20px;
    height: 35px;
    background: #a35003;
    box-shadow: inset 0 -2px 4px 0 #252525;
}

.cadeira {
    position: absolute;
    top: calc(35px + 12px);
    left: 22px;
    width: 15px;
    height: 15px;
    background: #a35003;
    box-shadow: inset 0 -2px 4px 0 #252525;
}

.computador {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    width: 3px;
    height: 25px;
    border-radius: 5px;
    background: #000000;
}

.mosquito {
    position: absolute;
}

.balcao {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translateX(-100%);
    height: 25%;
    width: 20px;
    background: #000000;
    box-shadow: inset 0 -2px 4px 0 #252525;
}

.sofa {
    position: absolute;
    left: 70%;
    top: 20%;
    width: 30px;
    height: 50px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: inset 0 -2px 4px 0 #252525,
    inset 8px 0 4px 0 #ffffff,
    inset 0 6px 3px 0 #ffffff,
    inset 0 6px 3px 0 #252525,
    inset 0 -6px 3px 0 #ffffff,
    inset 0 -6px 3px 0 #252525,
    inset 10px 0 4px 0 #252525
    ;
}

.mesa_jantar {
    position: absolute;
    left: 70%;
    top: 70%;
}

.mesa_maior {
    width: 30px;
    height: 40px;
    background: #a35003;
    box-shadow: inset 0 -2px 4px 0 #252525;
}

.mesa_jardim {
    position: absolute;
    left: 10%;
    top: 115%;
}

.mesa_j {
    width: 35px;
    height: 45px;
    background: #fff784;
    box-shadow: inset 0 -2px 4px 0 #252525,
    inset 10px 0 1px 0 #fff784,
    inset 11px 0 3px 0 #000000,
    inset 20px 0 1px 0 #fff784,
    inset 21px 0 3px 0 #000000,
    inset 30px 0 1px 0 #fff784,
    inset 31px 0 2px 0 #000000;
}

.lado_esquerdo {
    position: absolute;
    top: 10%;
    left: -60%;
}

.lado_direito {
    position: absolute;
    top: 10%;
    left: 110%;
}

.cadeira_jantar {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 10%;
}

.fogao {
    position: absolute;
    top: 60%;
    height: 20px;
    width: 20px;
    background: #ffffff;
    box-shadow: inset 0 -2px 4px 0 #252525;
}

.boca {
    position: absolute;
    left: 20%;
    top: 10%;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background: #302e2e;
    box-shadow: 8px 0 0 0 #302e2e,
    0 8px 0 0 #302e2e,
    8px 8px 0 0 #302e2e;
}

.pia {
    position: absolute;
    left: 30%;
    top: 85%;
    width: 30px;
    height: 15%;
    box-shadow: inset 0 -2px 4px 0 #252525,
    inset 0 0 1px 2px #7c7c7c,
    inset 0 0 2px 2px #302e2e,
    inset 0 0 2px 20px #7c7c7c,
    10px 0 #7c7c7c,
    -10px 0 #7c7c7c,
    -40px 0 #c7c7c7;
}

.espaco {
    position: absolute;
    height: 25px;
    width: 5px;
    background-color: #663106;

}

.e1 {
    left: 50%;
    transform: translateX(-100%);
}

.e2 {
    top: 100%;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top 0;
}

.e3 {
    left: 80%;
    transform: translateY(-20%) rotate(-90deg);
    transform-origin: right top 0;
}

.porta {
    position: absolute;
    height: 25px;
    width: 5px;
    background-color: #a35003;
}

.p1 {
    left: 50%;
    transform: translateX(-100%);
    transform-origin: left bottom 0;
}

.p2 {
    top: 100%;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top 0;
}

.p3 {
    left: 80%;
    transform: translateY(-20%) rotate(-90deg);
    transform-origin: right top 0;
}

.a1 {
    transform: translateX(-100%) rotate(90deg);
}

.a2 {
    transform: translateX(0);
}

.a3 {
    transform: translateY(-20%);
}

.planta_varanda {
    position: absolute;
    cursor: pointer;
    top: -35%;
}

.vaso {
    position:relative;
    float: left;
    width: 40px;
}

.planta_porta {
    position: absolute;
    cursor: pointer;
    display: flex;
    left: 72%;
    transform: translateY(-100%);
}

.vaso2 {
    position: relative;
    cursor: pointer;
    float: left;
    width: 35px;
    margin-right: 10px;
}

.vaso3 {
    position: absolute;
    cursor: pointer;
    transform: translateX(-100%);
    width: 40px;
    left: 100%;
    object-position: 5px -5px;
}

.pneu {
    position: absolute;
    cursor: pointer;
    width: 45px;
    left: 90%;
    top: 110%;
}

.piscina {
    position: absolute;
    cursor: pointer;
    width: 120px;
    height: 45px;
    left: 25%;
    top: 110%;
    background: #04bedf;
    border-radius: 10px;
    box-shadow: inset 0 0 0 3px #047cdf;
    border: solid 2px #000000;
}

.piscina_vazia {
    background: #047cdf;
    cursor: pointer;
    box-shadow: inset 0 0 0 3px #047cdf,
    inset 0 0 10px #000000;
}

.caixa {
    position: absolute;
    cursor: pointer;
    width: 45px;
    height: 45px;
    left: 70%;
    top: 110%;
    background: #04bedf;
    border-radius: 100%;
    box-shadow: inset 0 0 0 3px #022b4d;
    border: solid 2px #000000;
}

.caixa_tampada {
    background: #000000;
    width: 45px;
    height: 45px;
    box-shadow: inset 5px 10px 2px 15px #022b4d;
}

.garrafa {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    width: 38px;
    top: 120%;
    left: 5%;
}

.off {
    display: none;
}

.pos_cozinha {
    
    left: 10%;
    top: 60%;
}

.pos_sala {
    left: 50%;
    top: 20%;
}

.pos_quarto {
    left: 20%;
    top: 20%;
}

.pos_quintal {
    top: 110%;
    left: 0%;
}

.pos_varanda {
    top: -40%;
    left: 50%;
}